/**
 * Global
*/
body, a, p, h1,h2,h3,h4,h5,h6 {
 font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
 color: #000;
}

/**
 * Links
*/
a {
  text-decoration: underline;
}
a:link {
  color: #3a6ba6;
}
a:visited {
  color: #3a6ba6;
}
a:active {
  color: #3a6ba6;
}

/**
 * Headings
*/
h1 {
  font-size: 18px;
}

h2, h2.node-title {
  font-size: 14px;
  font-weight: bold;
}

/**
 * Branding
*/
h1.site-name, h2.site-name {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.site-slogan {
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 10px;
  font-weight: normal;
}

/**
 * Menu
*/
#region-menu a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
}

/**
 * Footer
*/
div#region-footer-first {
  color: #fff;
  font-size: 11px;
}
