/* This file will hold the main styles for your website. */
@import url('./fonts.css');

body {
  background-color: #eee;
}

.zone-content {
  background-color: #fff;
}

/** Header Section **/
.section-header {
}

#zone-menu {
  background-color: #fff;
}

/** Branding Section **/
div#zone-branding {
  background-color: #000;
}

#region-branding {
  color: #fff;
}

#region-branding * {
  color: #fff;
}

/** Menu Section **/
div#region-menu {
  background-color: #fff;
  height: 40px;
}
#region-menu a {
  margin: 10px 0 0 0;
  padding: 0 10px 10px 10px;
}

#region-menu a:hover {
  text-decoration: underline;
}

/** Footer Section **/
div#zone-footer {
  background-color: #000;

}
